page-notification {
    .scroll-content{
       // margin-top: 270px !important;
       margin-bottom: 10px;
       overflow-y: hidden;
      }
    .uname{
        font-family: HelveticaNeue-Roman !important;
        font-size: 22px;
        padding: 15px 0 0 5px;
        color: rgb(14,109,178);
    }
    .no-record{
        border: none !important;
        color: color($colors,font-color);
      }
      .btn-col{
          padding-top:8px !important;
      }
      .no-record-label{
        white-space: initial;
      }
      .list-ios > .item-block:first-child {
        border-top: none;
     }
     .list-md > .item-block:first-child {
        border-top: none;
     }
     .item-inner ion-label{
         margin:0 !important;
     }
    .profile-card-wrapper {
        background: transparent;
        box-shadow: unset;
        width: 100%;
        
    }
    .user-name {
        font-family: HelveticaNeue-Bold;
        //font-weight: bold;
        color:#6692CD;
        font-size: 23px;
        padding-top: 10px;
        .icon {
            color: #6692CD;
            font-size: 24px;
        }
    }
    .follow{
        padding-top:20px;
        h2{color: #6692CD !important;}
        font-family: HelveticaNeue-Bold;
    }
    .user-id {
        font-size: 15px;
        color: #8B8989;
        font-family: HelveticaNeue-Roman;
    }
    ion-col img {
        border-radius: 50%;
        //height: 100px !important;
        margin: 0 auto;
        overflow: hidden;
        //width: 100px !important;
        border: 2px solid color($colors,font-color);
    }
    ion-avatar img {
        border-radius: 50%;
        height: 100px !important;
        margin: 0 auto;
        overflow: hidden;
        object-fit: cover;
        width: 100px !important;
        border: 2px solid #6692CD;
    }
    .flw-btn{
        height: 30px;
        font-size: 18px;
        width: 100%;
        padding: 0px 0;
        margin: 0px 0;
        font-weight: 400;
    }
    .listofusers {
        margin: 5px 0 5px;
        box-shadow: unset;
        height: 350px;
        overflow-y: scroll;
      }
    .back-arrow{
        font-size: 2.3em;
        padding: 6px;
    }
    .user-des {
        font-size: 14px;
        color: #000;
        margin: 7px 0 20px 0;
        white-space: nowrap; 
       // width: 24.5em; 
        overflow: hidden;
        text-overflow: ellipsis;
        font-family: HelveticaNeue-Roman;
    }
    .wrap-word{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 8em;
    }
    ion-avatar {
        margin-top: 30px;
    }
    .list-item{
        border-bottom: 1px solid rgba(149, 152, 154,0.2) !important;
    }
    .text-following {
        border-bottom: 1px solid #cccccc;
        border-top: 1px solid #cccccc;
        color: #8b8989;
        font-size: 15px;
        padding: 0px 0;
        font-family: HelveticaNeue-Roman;
        
    }
    .highlight{
        font-family: HelveticaNeue-Bold;
        font-size: 18px;
        color:color($colors,theme-blue-button);
    }
    .des{
        font-family: HelveticaNeue-Roman;
        font-size: 18px;
        text-align: left;
        color:color($colors,font-color);
        white-space: initial;
    }
    .pts{
        font-family: HelveticaNeue-Roman;
        font-size: 15px;
        text-align: right;
        color:color($colors,theme-blue-button);
    }
    .item-block{
        //padding:5px 5px !important;
    }
    .main-row{
        border-bottom: 1px solid #cccccc;
        padding: 6px;
    }
    .item-inner{
        padding:0px !important;
    }
}
